<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912789074192-igv9b6loahrrdim61npeig7a2psjir4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912789074192-igv9b6loahrrdim61npeig7a2psjir4k</string>
	<key>API_KEY</key>
	<string>AIzaSyDywOI-1qZXQFwmqD6proBjiVvLdf0CbN4</string>
	<key>GCM_SENDER_ID</key>
	<string>912789074192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.rei.dev.1</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-91f1c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-91f1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912789074192:ios:398681eb5d36f9d64b3595</string>
</dict>
</plist>